# byte compiled python
__pycache__
*.py[cod]

# virtualenv
.venv

# ide, filesystem
.idea
.DS_Store
*.swp
.vscode

# sphinx
docs/build
!docs/build/.gitkeep

# builds
*.egg*

# testing
.cache
.coverage

# packaging
dist
build
