alabaster==0.7.12
appdirs==1.4.4
attrs==19.3.0
Babel==2.8.0
black==19.10b0
capturer==3.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
coverage==5.1
coveralls==2.0.0
docopt==0.6.2
docutils==0.16
humanfriendly==8.2
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.4.0
packaging==20.4
pathspec==0.8.0
pkg-resources==0.0.0
pluggy==0.13.1
py==1.9.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.10.0
pytz==2020.1
regex==2020.6.8
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.1
sphinx-autodoc-annotation==1.0.post1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
wcwidth==0.2.5
